@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Solicitud" block-ui="main" >
</body>
<div id="IdBandejaSolicitudController" ng-app="app.Solicitud" ng-controller="BandejaSolicitudController  as vm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='col-xs-12 col-sm-12'>

                <div class='form-group text-right acciones'>

                    <a class="btn btn-primary" ng-click="vm.CargaRegistroSolicitud()" > <span class="glyphicon glyphicon-list-alt"></span> Nuevo  </a>           

                    <a class="btn btn-primary" ng-click="vm.CargarComboVacacional()" ><span class="glyphicon glyphicon-list-alt"></span> Combos Vacacionales</a> 
                </div>

                <div class='form-group'>

                     <h4 class="modal-title"> Bandeja de Solicitudes </h4>
                    <h5 class="font-bold"><br /><titulo-Datos-Obligatorios></titulo-Datos-Obligatorios><br /></h5>
                    <div id="divAlert" class="alert-edit">
                    </div>
                </div>
                
                <div class='form-group'>
                    <div class='col-xs-12  col-sm-6 '>
                        <h5> Lider : </h5>
                        <input id="idNombreLider" type="text" ng-model="vm.NombreLider" class="form-control" disabled="disabled">
                    </div>
                    <div class='col-xs-12  col-sm-6 '>
                        <h5> Ccr : </h5>
                        <input id="idUnidad" type="text" ng-model="vm.Unidad" class="form-control" disabled="disabled">
                    </div>
                </div>
                <form>
                    <div class='form-group'>
                        <div class='col-xs-12 col-sm-12'>
                            <h5></h5>
                        </div>
                        <div class='col-xs-8 col-sm-2'>
                            <h5> Fecha Inicio : </h5>
                            <div class='input-group date' style="cursor:pointer;">
                                <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" maxlength="10" placeholder="dd/mm/yyyy" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class='col-xs-8 col-sm-2'>
                            <h5> Fecha Final : </h5>
                            <div class='input-group date' style="cursor:pointer;">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFinal" maxlength="10" placeholder="dd/mm/yyyy" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-2'>
                            <h5> Estado Solicitud : </h5>
                            <select id="CmbEstados" class="form-control"
                                    ng-model="vm.IdListEstados"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListEstados"></select>
                        </div>
                    </div>
                    <div class='form-group text-right'>
                        <div class='col-xs-12  col-sm-6 col-sm-6'>
                            <br /><br />
                            <button id="btnLimpiar" button class="btn btn-primary" text-right" ng-click="vm.LimpiarFiltros()">
                                <span class="glyphicon glyphicon-trash"></span> Limpiar
                            </button>
                            <button id="btnBuscar" button class="btn btn-primary" ng-click="vm.BuscarSolicitud()">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="row-border hover dataTable no-footer dtr-inline collapsed"
                           dt-instance="vm.dtInstance" style="width:100%;"></table>
                </form>
            </div>
        </div>
    </div>   

    <div class="modal modal-wide fade" id="ModalDatosRegistro">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="ContenidoModalDatosRegistro" class="modal-body">
                </div>
            </div>
        </div>
    </div> 

    <div class="modal modal-wide fade" id="ModalDatosCombo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="ContenidoModalDatosCombo" class="modal-body">
                </div>
            </div>
        </div>
    </div>  
</div> 

@section scripts{
<script>
    var jsonListEstados = @Html.Raw(Json.Encode(ViewBag.vbListEstados));
    var jsonDatosTrabajador = @Html.Raw(Json.Encode(ViewBag.vbDatosTrabajador));
    function EliminarSolicitud(IdSolicitud) {
        var scope = angular.element(document.getElementById("IdBandejaSolicitudController")).scope();
        scope.vm.EliminarSolicitud(IdSolicitud);
        scope.$apply();
    }
    function RecorreCombo(codigo) {
        var scope = angular.element(document.getElementById("IdComboVacacionalController")).scope();
        scope.vmx.RecorrerCombo(codigo);
        scope.$apply();
    }
</script>   
@Scripts.Render("~/bundles/app/Unidad/js")
@Scripts.Render("~/bundles/app/Solicitud/Bandeja/js") 

}
