@{
    ViewBag.Title = "Home Page";
} 
  
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
               
                <br /><br /><br /><br /><br />
                @* <h3 class="section-title">Bienvenido a SGV</h3> <p class="section-description">
        En líneas generales, MVC es una propuesta de diseño de software utilizada para implementar sistemas donde se requiere el uso de interfaces de usuario. Surge de la necesidad de crear software más robusto con un
        ciclo de vida más adecuado,donde se potencie la facilidad de mantenimiento, reutilización del código y la separación de conceptos.
    </p>
    <p class="section-description">
        Su fundamento es la separación del código en tres capas diferentes, acotadas por su responsabilidad,
        en lo que se llaman Modelos, Vistas y Controladores, o lo que es lo mismo, Model, Views & Controllers, si lo prefieres en inglés. En este artículo estudiaremos con detalle estos conceptos, así como las ventajas de ponerlos en marcha cuando desarrollamos.

        MVC es un "invento" que ya tiene varias décadas y fue presentado incluso antes de la aparición de la Web.
        No obstante, en los últimos años ha ganado mucha fuerza y seguidores gracias a la aparición de numerosos frameworks de desarrollo web que utilizan el patrón MVC como modelo para la arquitectura de las aplicaciones web.
    </p>*@
            </div>
        </div>
    </div>
     
</section>