@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Programacion" block-ui="main">
</body>
<div id="IdBandejaProgramacionController" ng-app="app.Programacion" ng-controller="BandejaProgramacionController  as vm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='col-xs-12 col-sm-12'>

                <div class='form-group text-right acciones'>
                    <button id="btnHistorico" button class="btn btn-primary" ng-click="">
                        <span class="glyphicon glyphicon-list-alt"></span> Histórico
                    </button>

                    <a class="btn btn-primary" ng-click="vm.CargaGoceVacacional()"> <span class="glyphicon glyphicon-list-alt"></span> Agregar Goce  </a>
                </div>

                <div class='form-group'>
                    <h4 class="modal-title"> Bandeja Programación - Detalle de Vacaciones </h4>
                    <div id="divAlert" class="alert-edit">
                    </div>
                </div>

                <form>
                    <div class='form-group'>
                        <div class='col-xs-12  col-sm-12 '>
                            <div class='col-xs-12 col-sm-4'>
                                <h5> Búsqueda : </h5>
                               
                                <input type="text" class="form-control" ng-model="vm.Trabajador"
                                       data-animation="am-flip-x"
                                       bs-options="items as items.Descripcion for items in vm.BuscarTrabajador($viewValue)"
                                       placeholder="Ingrese Trabajador" bs-typeahead>                               

                            </div>
                            <div class='col-xs-12 col-sm-4'>
                                <h5> Búsqueda : </h5>
                                <button id="btnCargar" button class="btn btn-primary" text-right" ng-click="vm.ObtenerDatosTrabajador()">
                                    <span class="glyphicon glyphicon-search"></span> Cargar Datos
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <div class='col-xs-12  col-sm-12 '>

                            <div class='col-xs-12  col-sm-1 '>
                                <h5> Empresa : </h5>
                                <input id="idEmpleado" type="text" ng-model="vm.Empresa" class="form-control" disabled="disabled">
                            </div>
                            <div class='col-xs-12  col-sm-1 '>
                                <h5> Tipo : </h5>
                                <input id="idTipo" type="text" ng-model="vm.Tipo" class="form-control" disabled="disabled">
                            </div>
                            <div class='col-xs-12  col-sm-2 '>
                                <h5> Fecha Derecho : </h5>

                                <select id="CmbFechaDerecho" class="form-control"                                         
                                        ng-model="vm.ListaFechaDerecho"
                                        ng-options="items as items.FechaDerecho for items in vm.FechaDerecho"
                                        ng-change="vm.SeleccionaFechaDerecho()"
                                        >                                        
                                </select>                                                        
                            </div>

                            <div class='col-xs-12  col-sm-1 '>
                                <h5> # Vencidos : </h5>
                                <input id="idVencidos" type="text" ng-model="vm.Vencidos" class="form-control" disabled="disabled">
                            </div>

                            <div class='col-xs-12  col-sm-1 '>
                                <h5> # Truncos : </h5>
                                <input id="idTruncos" type="text" ng-model="vm.Truncos" class="form-control" disabled="disabled">
                            </div>

                            <div class='col-xs-12  col-sm-1 '>
                                <h5> # Pagados : </h5>
                                <input id="idPagados" type="text" ng-model="vm.Pagados" class="form-control" disabled="disabled">
                            </div>
                            <div class='col-xs-12  col-sm-1 '>
                                <h5> # Gozados : </h5>
                                <input id="idGozados" type="text" ng-model="vm.Gozados" class="form-control" disabled="disabled">
                            </div>
                            <div class='col-xs-12  col-sm-2 '>
                                <h5> # Pendientes de Goce : </h5>
                                <input id="idPendGoce" type="text" ng-model="vm.PendienteGoce" class="form-control" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12  col-sm-12 ' font-color="Rojo">
                        <div class='col-xs-12  col-sm-6 '>
                            <h5></h5>
                            <font color="red">
                                <h5> * Una vez cumplido el derecho, se debe programar los 30 días de vacaciones (# días=30) * </h5>
                            </font>
                        </div>
                    </div>
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="row-border hover dataTable no-footer dtr-inline collapsed"
                           dt-instance="vm.dtInstance" style="width:100%;"></table>
                </form>
            </div>
        </div>
    </div>
    <div class="modal modal-wide fade" id="ModalDatosGoce">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="ContenidoModalGoce" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-wide fade" id="ModalEditarGoce">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="ContenidoEditarGoce" class="modal-body">
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function EditarGoce(fechainicio,fechafinal) {
        var scope = angular.element(document.getElementById("IdBandejaProgramacionController")).scope();
        scope.vm.EditarGoce(fechainicio, fechafinal);
        scope.$apply(fechainicio, fechafinal);
    }

</script>
@section scripts{
    @Scripts.Render("~/bundles/app/Programacion/BandejaProgramacion/js");    
}
