<div id="IdEditarGoceController" ng-controller="EditarGoceController as vmx">
    <div class='form-group text-right acciones'>
        <button class="btn btn-primary" ng-click=vmc.RegistroGoce()><span class="glyphicon glyphicon-list-alt"></span> Registrar </button>
        <a class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-share-alt"></span> Salir </a>
    </div>
    <h4 class="modal-title"> Editar Goce Vacacional </h4>
    <div id="divAlertGoceVacacional" class="alert-edit">  </div>
    <div class="modal-header">
        <div class="col-xs-12 col-sm-5">
            <h5> Fecha Inicio (*) :</h5>
            <div class='input-group date' style="cursor:pointer;">
                <input id="idFechaInicioRegistro" type='text' class="form-control" data-date-time-picker ng-model="vmx.FechaInicioRegistro" maxlength="10" placeholder="dd/mm/yyyy" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <h5> Fecha Final (*) :</h5>
            <div class='input-group date' style="cursor:pointer;">
                <input id="idFechaFinalRegistro" type='text' class="form-control" data-date-time-picker ng-model="vmx.FechaFinalRegistro" maxlength="10" placeholder="dd/mm/yyyy" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
