<div ng-controller="EvaluacionModificarController as vmx">
    <div class="modal-header">
        <div class='form-group text-right acciones'>
            <button id="btnPAceptar" class="btn btn-sm btn-primary right" ng-click="vmx.ModificarSolicitud()">
                <span class="glyphicon glyphicon-save"></span> Acepar
            </button>
            <button id="" data-dismiss='modal' class='btn btn-sm btn-primary btn-space right'>
                <span class="glyphicon glyphicon-folder-close"></span> Cancelar
            </button>
        </div>
        <h4 class="modal-title">MODIFICAR SOLICITUD ESPECIAL</h4>
        <form autocomplete="off">
            <div class='form-group'>
                <div id="divAlertModal">
                </div>
            </div>
            <div class='col-xs-12 col-lg-12'>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Datos Base del Solicitante:</h5>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Fecha de Derecho:</h5>
                    <input id="idSigFechaDerecho" type="text" class="form-control" ng-model="vmx.SigFechaDerecho" disabled="disabled">
                </div>
            </div>
            <div class='col-xs-12 col-lg-12'>
                <div class='col-xs-12 col-sm-12'>
                    <h5></h5>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5># Pendientes :</h5>
                    <input id="idPendientes" type="text" class="form-control" ng-model="vmx.Pendientes" disabled="disabled">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5># Vendidas :</h5>
                    <input id="idVendidas" type="text" class="form-control" ng-model="vmx.Vencidos" disabled="disabled">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5># Truncos :</h5>
                    <input id="idTruncos" type="text" class="form-control" ng-model="vmx.Truncos" disabled="disabled">
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5># Futuros :</h5>
                    <input id="idFuturos" type="text" class="form-control" ng-model="vmx.Futuros" disabled="disabled">
                </div>
            </div>
            <div class='col-xs-12 col-sm-12'>
                <div class='col-xs-12 col-sm-12'>
                    <h5></h5>
                </div>
                <h5 class="font-bold">
                    Ingrese rango de fecha de inicio de la Solicitud:<br />
                    <titulo-Datos-Obligatorios></titulo-Datos-Obligatorios><br />
                </h5>
            </div>
            <div class='col-xs-12 col-lg-12'>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Desde (*) :</h5>
                    <div class='input-group date' style="cursor:pointer;">
                        <input id="idMFechaDesde" type='text' class="form-control" data-date-time-picker ng-model="vm.MFechaInicio" maxlength="10" placeholder="dd/mm/yyyy" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Hasta (*) :</h5>
                    <div class='input-group date' style="cursor:pointer;">
                        <input id="idMFechaHasta" type='text' class="form-control" data-date-time-picker ng-model="vm.MFechaFin" maxlength="10" placeholder="dd/mm/yyyy" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-lg-12'>
                <div class='col-xs-12 col-sm-12'>
                    <h5></h5>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Dias Calendario (*) :</h5>
                    <input id="idMDiaCalendario" type="text" class="form-control" ng-model="vm.MDiaCalendario">
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <h5>Adelanto Vacacional (*) :</h5>
                    <input id="idMAdelantoVacacional" type="checkbox" ng-model="vm.MAdelantoVacacional" ng-disabled="checked">
                </div>
            </div>
            <div class='col-xs-12 col-lg-12'>
                <div class='col-xs-12 col-sm-12'>
                    <br />
                </div>
            </div>
            EmpleadiCIp es : @Model
            <br />
        </form>

    </div>
</div>
@section scripts{
    <script>
        alert("Paso 2222");
    </script>
    @Scripts.Render("~/bundles/app/Unidad/js");
    @Scripts.Render("~/bundles/app/SolicitudEvaluacion/Modificar/js");
}
