@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <div class="container body">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <h2> Error: Consulte con el Administrador</h2>
                </p>


                <br />

                @if (Model != null)
                {
                    <div>
                        <p>
                            <b>Fecha:</b>  @DateTime.Now.ToString("dd/MM/yyyy hh:mm") <br />
                            <b>Controller:</b> @Model.ControllerName<br />
                            <b>Action:</b> @Model.ActionName
                        </p>
                    </div>
                }

            </div>
        </div>
    </div>

</body>
</html>
