@using System
@{
    Layout = null;
    ViewBag.Title = "Página no encontrada";
}

<h1>Página no encontrada</h1>

<p>No se pudo encontrar la página: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null)
{
    <p>Volver : <a href="@ViewBag.ReferrerUrl">página anterior</a>.</p>
}

@(new string(' ', 512))