
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
 
 
<div class="login-center" ng-app="app.Seguridad" ng-controller="LoginController as vm">
    <div class="container min-height" >        
        <div class="row">            
            <div class="col-xs-4 col-md-offset-2">               
                <div class="login" id="card">
                    <div id="divAlert"> </div> 
                    <div class="front signin_form">
                        <p><div class="logo-img"></div> </p>
                        <p>Ingrese su usuario y constraseña.</p>
                        <form class="login-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control"  autocomplete="off"  ng-model="vm.TxtUsuario" placeholder="Ingrese su usuario">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password"  autocomplete="off" ng-model="vm.TxtClave" ng-keydown="$event.keyCode === 13 && vm.Login()" class="form-control" placeholder="Ingrese su contraseña">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                </div>
                            </div> 

                            <div class="form-group sign-btn">
                                <input type="button" ng-click="vm.Login()"  class="btn" value="Ingresar">
                                <p>@Html.ActionLink("Olvidaste tu Contraseña", "OlvidoClave", "Login", new { Area = "Seguridad" }, new { @class = "forgot" })
                                
                                    @Html.ActionLink("Cambio de Contraseña", "CambioClave", "Login", new { Area = "Seguridad" },   new { @class = "cambio" })
                                </p> 
                            </div>
                        </form>
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</div>
      

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/login/js")
}