@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
 
<div class="login-center" ng-app="app.Seguridad" ng-controller="OlvidoClaveController as vm">
    <div class="container min-height">
        <div class="row">
            <div class="col-xs-4 col-md-offset-2">
                <div class="login" id="card">
                    <div id="divAlert"> </div>
                    <div class="front signin_form">
                        <p><div class="logo-img"></div> </p>
                       
                        <h3 class="font-bold">Recuperar Constraseña</h3>

                         <p>
                            Se enivara su clave de acceso a su Correo
                        </p>

                        <form class="login-form"> 

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-keydown="$event.keyCode === 13 && vm.EnvioClave()" placeholder="Usuario" maxlength="15" ng-model="vm.TxtUsuario" required="">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group sign-btn">
                                <button type="button" ng-click="vm.EnvioClave()"  class="btn btn-primary block full-width m-b">
                                    <span class="glyphicon glyphicon-ok"></span> Enviar Contraseña</button> 
                                <button type="button" onclick="location.href='@Url.Action("Index", "Login", new { })'" class="btn btn-primary block full-width m-b">
                                    <span class="glyphicon glyphicon-ok"></span> Regresar</button>                              
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>




@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/olvidoclave/js")
}