@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Solicitud" block-ui="main">
</body>
<div id="IdComboVacacionalController" >
    <div class="panel panel-default">
        <div class="panel-body"> 
        </div>
    </div>
    <div id="ModalCargaCombo" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modalContenedor">
                
                <div ng-app="app.Solicitud" ng-controller="ComboVacacionalController  as vm">

                    <div class="modal-header">
                        <button class="btn btn-primary" ng-click="vm.RegistrarCombo()"><span class="glyphicon glyphicon-list-alt"></span> Registrar </button>
                        <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Salir </a> 
                        <div class='col-xs-12  col-sm-12 '>
                            <h5>  </h5>
                        </div>
                        <h4 class="modal-title"> Combos Vacacionales Disponibles </h4>
                        <div id="divAlert" class="alert-edit"> </div>
                    </div>
                    <div class="modal-body">

                        <table datatable="" dt-options="vm.dtOptionsCombo" dt-columns="vm.dtColumnsCombo"
                               class="row-border hover dataTable no-footer dtr-inline collapsed"
                               dt-instance="vm.dtInstance" style="width:100%;"></table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
    var jsonListEstados = @Html.Raw(Json.Encode(ViewBag.vbListEstados));
    var jsonDatosTrabajador = @Html.Raw(Json.Encode(ViewBag.vbDatosTrabajador));   
    </script>
    @Scripts.Render("~/bundles/app/Solicitud/ComboVacacional/js")
}